html{
    margin:0;
    background-color: #236bee2e;
}

body{
	margin:0;
	padding-top:200px;
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.main-contents{
/*    .content全体の設定をするため*/
	padding:15px 0 15px 0;
   
}




.edit{
    /* color:rgba(67, 66, 66, 0.85); */
    /* margin-top:30px; */
    /* font-size:50px; */
    /* text-align: center; */
	
	margin:15px auto;
    padding:15px 0 15px 0;
    text-align:center;
    background-color:rgba(50, 166, 250, 0.72);
    width:810px;
    color:white;
    font-weight:bolder;
    font-size:15px;
}
.content{
    border:solid #fff;
    width:600px;
    height:130px;
    background-color:white;
    border-radius:5px;
    box-shadow:0px 2px 2px 0px #a5a9ab;
    position:relative;
    margin:0 auto;


}
p{
    color:#000;
}

.content p{
    margin:0;
}

.content p:nth-of-type(1){
    padding-top:10px;
    font-size:19px;
    font-weight:bolder;
    word-break: break-all;
    margin-left:5px;
}

.content p:nth-of-type(2){
    padding-top:10px;
    margin-top:30px;
    margin-left:5px;
	font-size:15px;
}

.content p:nth-of-type(3){
	font-size:15px;
   position:absolute;
    top:0;
    right:0;
    padding-top:2px;
    padding-right:5px;
	
}

button[name="send"]{
    margin-top:10px;
    position:absolute;
    bottom:0;
    right:0;
    width:100px;
    height:35px;
    font-weight:bolder;
	background-color:rgba(255, 195, 8, 0.72);
    border:solid 1px rgba(255, 195, 8, 0.72);
    border-radius:5px;
    box-shadow: 1px 1px rgba(255, 195, 8, 0.72);
}
.space{
    width:20px;
    height:30px;
    margin:0 auto;
}










#bg{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.4);
}
#alertBox{
    margin:250px auto 0;
    text-align:center;
    padding-top:25px;
    width:300px;
    height:85px;
    background:#fff;
    border-radius:5px;
    box-shadow: 2px 2px rgba(0,0,0,.3);
}
.kakunin{
    font-size:17px;
    margin-top:0;
    
} 
button[id="ok"],button[id="no"]{
    border:4px solid #ffd386;
    border-radius: 10px;
    background:#ff753f;
    color:#ffffff;
    height:40px;
    width:100px;
}





.rogo img{
	
	width:230px;
	padding-top:9px;
}
.ue{
	
	display: flex;
    justify-content: space-between;
}

.ue .account{
	
	text-align: center;

}
.account a{
	
	text-decoration:none;
	display:inline-block;
	
	
	
}
.sita a{
	text-decoration:none;
}

.sita ul{
	text-align: center;
}
.sita ul li {
    padding: 15px 30px;
	position:relative;
	display:inline-block;
}

.sita ul li:nth-of-type(n+3):after{
	content:"";
	width:1px;
	height:1em;
	background-color:#000;
	display:block;
	position:absolute;
	left:0;
	top:50%;
	transform:translate(0,-50%);
	
}



.sita ul p{
	margin: 0;
	
}

.sita form{
	
	display: flex;
	
}
ul{
	padding: 0;
}
li{
	list-style-type: none;
	
}

button{
	padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.head{

    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
	z-index:10;
	border-bottom: 2.5px solid #236bee91;
	

}

.account p{
	margin:0;
	padding: 10px 40px;
	/* border-right: 1px solid #000; */
	/* border-left: 1px solid #000; */
	position:relative;
	
}

.account a:not(:first-of-type) p:after{
	content:"";
	width:1px;
	height:1em;
	background-color:#000;
	display:block;
	position:absolute;
	left:0;
	top:50%;
	transform:translate(0,-50%);
	
}


.head{

    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
	z-index:10;
	border-bottom: 2.5px solid #236bee91;
	
	

}

.head2{
	z-index:10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
	display: none;
    box-shadow: 0 1px 5px #9896b9;
	border-bottom: 2.5px solid #236bee91;
}
.active .head2{
	display: block;
}
.head.active{
	
	position:fixed;
	width: 100%;
	margin:0;
}	
.active .head{
	
}






#deletethrlog{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 0.12);
}
#deletethrbox{
    margin:250px auto 0;
    text-align:center;
    line-height:60px;
    width:300px;
    height:60px;
    background:#fff;
    border-radius:5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    color:rgba(78, 78, 78, 0.88)
}
.kakunin2{
    font-size:17px;
    
    
} 
a{
	text-decoration:none;
}


.totop img{
	width:120px;
	height:120px;
	
	position:fixed;
	bottom:20px;
	left:50px;
}

#pagetop img{
	width:120px;
	height:120px;
	
	position:fixed;
	bottom:20px;
	right:50px;
}



#date{
	font-size:10px;
}
