@charset "utf-8";
html{
    /* height:100%; */
}

body{
    /* height:100%; */
    margin:0;
    background:#236bee2e;
	padding-top:500px;
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    
    
}


/*ログイン画面のcss*/
.loginform{
    border: solid 3px rgba(0, 172, 237, 1) ;
    height:300px;
    width:31%;
/*    ここでブロック要素を中心に移動*/
    margin:50px auto;
    border-radius: 7px;
    background:white;
    position:absolute;
    top:22%;
    left:35%;
    
    
}

form{
/*    margin:0 auto;*/
/*    ここでは文字だけを中心に寄せればよい*/
    text-align: center;
    
}

.first{
    font-size:20px;
    background:rgba(0, 172, 237, 1) ;
    margin:0;
    color:white;
    padding:10px 0;
    font-weight:bold;
    
}

.login_line{
    font-weight:bold;
    padding-top:5px;
    color:rgba(0, 0, 0, 0.62)
}

/*input[type="submit"]*/

button[name="send"]{
    padding:6px 20px;
    border:4px solid #ffd386;
    border-radius: 10px;
    background:#ff753f;
    font-size:20px;
    color:#ffffff;
}

/*input[type="submit"]*/
button[name="send"]:hover{
    background:#ffd386;
}

input:focus{
    background:#faf4e2;
}



/*確認画面のcss*/
#bg{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.4);
}
#alertBox{
    margin:250px auto 0;
    text-align:center;
    padding-top:25px;
    width:300px;
    height:85px;
    background:#fff;
    border-radius:5px;
    box-shadow: 2px 2px rgba(0,0,0,.3);
}
.kakunin{
    font-size:17px;
    margin-top:0;
    
} 
button[id="ok"],button[id="no"]{
    border:4px solid #ffd386;
    border-radius: 10px;
    background:#ff753f;
    color:#ffffff;
    height:40px;
    width:100px;
}



.rogo img{
	
	width:230px;
	padding-top:9px;
}
.ue{
	
	display: flex;
    justify-content: space-between;
}

.ue .account{
	
	text-align: center;

}
.account a{
	
	text-decoration:none;
	display:inline-block;
	
	
	
}
.sita a{
	text-decoration:none;
}

.sita ul{
	text-align: center;
}
.sita ul li {
    padding: 15px 30px;
	position:relative;
	display:inline-block;
}

.sita ul li:nth-of-type(n+3):after{
	content:"";
	width:1px;
	height:1em;
	background-color:#000;
	display:block;
	position:absolute;
	left:0;
	top:50%;
	transform:translate(0,-50%);
	
}



.sita ul p{
	margin: 0;
	
}

.sita form{
	
	display: flex;
	
}
ul{
	padding: 0;
}
li{
	list-style-type: none;
	
}


.head{

    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
	z-index:10;
	border-bottom: 2.5px solid #236bee91;
	

}



.content{
    
	/* float: right; */
    
    
    background-color:darkgray;
    
    width: 25%;
	
	height:50%;
    
    
}

.account p{
	margin:0;
	padding: 10px 40px;
	/* border-right: 1px solid #000; */
	/* border-left: 1px solid #000; */
	position:relative;
	
}

.account a:not(:first-of-type) p:after{
	content:"";
	width:1px;
	height:1em;
	background-color:#000;
	display:block;
	position:absolute;
	left:0;
	top:50%;
	transform:translate(0,-50%);
	
}


.totop img{
	width:120px;
	height:120px;
	
	position:fixed;
	bottom:20px;
	left:50px;
}





