html{
   
   background-color:#236bee2e;
	
}
body{
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding-top:200px;
	margin:0;
	
}


.main-contents{
/*    .content全体の設定をするため*/
   
}

.edit{
    color:rgba(67, 66, 66, 0.85);
    margin-top:30px;
    font-size:50px;
    text-align: center;
}
.contents{
/*    border:solid 2px red;*/
    width:600px;
    height:auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow:0px 2px 2px 0px #a5a9ab;
    position:relative;
    margin:0 auto;
	padding:6px;


}
p{
    color:rgba(67, 66, 66, 0.85);
}

.contents p{
    margin:0;
}

.contents p:nth-of-type(1){
    font-size:13px;
    color:rgba(118, 118, 118, 0.83);
    margin-bottom:5px;

    
   
}

.contents p:nth-of-type(2){
    font-weight:bold;
    font-size:22px;
    margin-top:12px;
    margin-bottom:5px;
}

.contents p:nth-of-type(3){
    word-break: break-all;
    font-size:17px;
    margin-bottom:5px;

}

.contents p:nth-of-type(4){
    font-size:14px;
    margin-bottom:5px;
   
}

.contents p:nth-of-type(5){
    position:absolute;
    top:3px;
    right:3px;
    font-size:13px;
    color:rgba(118, 118, 118, 0.83);
    margin-bottom:5px;
    
   
}

.contents p:nth-of-type(6){
    position:absolute;
    top:19px;
    right:3px;
    font-size:13px;
    color:rgba(118, 118, 118, 0.83);
    margin-bottom:5px;
   
}

.contents p:nth-of-type(7){
    font-size:13px;
    color:rgba(118, 118, 118, 0.83);
    margin-bottom:5px;

   
}

button[name="send"]{
    margin-top:10px;
    position:absolute;
    bottom:0;
    right:0;
    width:100px;
    height:35px;
    font-weight:bolder;
    
}
.space{
    width:20px;
    height:30px;
    margin:0 auto;
}


.edit{
    /* color:rgba(67, 66, 66, 0.85); */
    /* margin-top:30px; */
    /* font-size:50px; */
    /* text-align: center; */
	
	margin:15px auto;
    padding:15px 0 15px 0;
    text-align:center;
    background-color:rgba(50, 166, 250, 0.72);
    width:810px;
    color:white;
    font-weight:bolder;
    font-size:15px;
}







/*
#bg{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.4);
}
#alertBox{
    margin:250px auto 0;
    text-align:center;
    padding-top:25px;
    width:300px;
    height:85px;
    background:#fff;
    border-radius:5px;
    box-shadow: 2px 2px rgba(0,0,0,.3);
}
.kakunin{
    font-size:17px;
    margin-top:0;
    
} 
button[id="ok"],button[id="no"]{
    border:4px solid #ffd386;
    border-radius: 10px;
    background:#ff753f;
    color:#ffffff;
    height:40px;
    width:100px;
}









*/





.rogo img{
	
	width:230px;
	padding-top:9px;
}
.ue{
	
	display: flex;
    justify-content: space-between;
}

.ue .account{
	
	text-align: center;

}
.account a{
	
	text-decoration:none;
	display:inline-block;
	
	
	
}
.sita a{
	text-decoration:none;
}

.sita ul{
	text-align: center;
}
.sita ul li {
    padding: 15px 30px;
	position:relative;
	display:inline-block;
}

.sita ul li:nth-of-type(n+3):after{
	content:"";
	width:1px;
	height:1em;
	background-color:#000;
	display:block;
	position:absolute;
	left:0;
	top:50%;
	transform:translate(0,-50%);
	
}



.sita ul p{
	margin: 0;
	
}

.sita form{
	
	display: flex;
	
}
ul{
	padding: 0;
}
li{
	list-style-type: none;
	
}


.head{

    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
	z-index:10;
	border-bottom: 2.5px solid #236bee91;
	

}

.head2{
	z-index:10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
	display: none;
    box-shadow: 0 1px 5px #9896b9;
	border-bottom: 2.5px solid #236bee91;
}
.active .head2{
	display: block;
}
.head.active{
	
	position:fixed;
	width: 100%;
	margin:0;
}	
.active .head{
	
}


.content{
    
	/* float: right; */
    
    
    background-color:darkgray;
    
    width: 25%;
	
	height:50%;
    
    
}

.account p{
	margin:0;
	padding: 10px 40px;
	/* border-right: 1px solid #000; */
	/* border-left: 1px solid #000; */
	position:relative;
	
}

.account a:not(:first-of-type) p:after{
	content:"";
	width:1px;
	height:1em;
	background-color:#000;
	display:block;
	position:absolute;
	left:0;
	top:50%;
	transform:translate(0,-50%);
	
}

.totop img{
	width:120px;
	height:120px;
	
	position:fixed;
	bottom:20px;
	left:50px;
}

#pagetop img{
	width:120px;
	height:120px;
	
	position:fixed;
	bottom:20px;
	right:50px;
}
















