@charset "utf-8";
html{
    height:100%;
}

body{
    height:100%;
    margin:0;
    background:rgba(113, 113, 113, 0.1);
    
    
}


/*ログイン画面のcss*/
.loginform{
    border: solid 3px rgba(0, 172, 237, 1) ;
    height:37%;
    width:31%;
/*    ここでブロック要素を中心に移動*/
    margin:0 auto;
    border-radius: 7px;
    background:white;
    position:absolute;
    top:22%;
    left:35%;
    
    
}

form{
/*    margin:0 auto;*/
/*    ここでは文字だけを中心に寄せればよい*/
    text-align: center;
    
}

.first{
    font-size:20px;
    background:rgba(0, 172, 237, 1) ;
    margin:0;
    color:white;
    padding:10px 0;
    font-weight:bold;
    
}

.login_line{
    font-weight:bold;
    padding-top:5px;
    color:rgba(0, 0, 0, 0.62)
}

/*input[type="submit"]*/

button[name="send"]{
    padding:6px 20px;
    border:4px solid #ffd386;
    border-radius: 10px;
    background:#ff753f;
    font-size:20px;
    color:#ffffff;
}

/*input[type="submit"]*/
button[name="send"]:hover{
    background:#ffd386;
}

input:focus{
    background:#faf4e2;
}



/*確認画面のcss*/
#bg{
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.4);
}
#alertBox{
    margin:250px auto 0;
    text-align:center;
    padding-top:25px;
    width:300px;
    height:85px;
    background:#fff;
    border-radius:5px;
    box-shadow: 2px 2px rgba(0,0,0,.3);
}
.kakunin{
    font-size:17px;
    margin-top:0;
    
} 
button[id="ok"],button[id="no"]{
    border:4px solid #ffd386;
    border-radius: 10px;
    background:#ff753f;
    color:#ffffff;
    height:40px;
    width:100px;
}




