<web-app>
	<servlet>
		<servlet-name>Top</servlet-name>
		<servlet-class>TopServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Top</servlet-name>
		<url-pattern>/Topservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Res</servlet-name>
		<servlet-class>ResServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Res</servlet-name>
		<url-pattern>/Resservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Threadservlet</servlet-name>
		<servlet-class>ThreadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Threadservlet</servlet-name>
		<url-pattern>/Threadservlet</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>Allthreadservlet</servlet-name>
		<servlet-class>AllThreadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Allthreadservlet</servlet-name>
		<url-pattern>/AllThreadservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/Topp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Thread</servlet-name>
		<jsp-file>/Thread.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Thread</servlet-name>
		<url-pattern>/Thread</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Kakunin</servlet-name>
		<jsp-file>/ThreadKaku.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Kakunin</servlet-name>
		<url-pattern>/Threadkakunin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Reskaku</servlet-name>
		<jsp-file>/ResKaku.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Reskaku</servlet-name>
		<url-pattern>/Reskak</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>Allthread</servlet-name>
		<jsp-file>/Allthread.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Allthread</servlet-name>
		<url-pattern>/Allthread</url-pattern>
	</servlet-mapping>


</web-app>