<web-app>
	
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>TopServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/topp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>res</servlet-name>
		<servlet-class>ResServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>res</servlet-name>
		<url-pattern>/reskaku</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>thread</servlet-name>
		<servlet-class>ThreadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>thread</servlet-name>
		<url-pattern>/kakuthread</url-pattern>
	</servlet-mapping>
	
    <servlet>
        <servlet-name>Kakuni</servlet-name>
        <jsp-file>SureKaku.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Kakuni</servlet-name>
        <url-pattern>/Surenokakunin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Top</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Top</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    

</web-app>