ol#jlisting{
 width: 600px;
 margin: 10px auto;
}
ol#jlisting li{
 margin:5px 10px;
 /*width:47%;
 padding-right:3%;
 display:inline;
 float:left;*/
 text-align:left;
 overflow:hidden;
}

ol#jlisting li h3{
 font-size:1em;
 height:1.2em;
 line-height:1.2em;
 padding:0;
 margin:0;
 white-space:nowrap;
}

ol#jlisting li h3 a{
 text-decoration:underline;
}

ol#jlisting li cite{
 display:block;
 color:#7EA400;
}